{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        // installed with yarn add babel-plugin-transform-class-properties
        "transform-class-properties",
        // installed with yarn add babel-plugin-transform-object-rest-spread
        "transform-object-rest-spread"    
    ]
}